@charset "utf-8";
.header{
	height:30px;
/*	background-image: -webkit-linear-gradient(135deg, #49e3ce 0%, #9920ed 100%);*/
	-webkit-box-shadow: 0 10px 30px -10px rgba(0,0,0,0.2);
    -moz-box-shadow:0 10px 30px -10px rgba(0,0,0,0.2);
    -ms-box-shadow:0 10px 30px -10px rgba(0,0,0,0.2);
    box-shadow: 0 0px 30px -10px rgba(0,0,0,0.2);
}
.header  .welcome{
	font-size: 14px;
}
.header .wu{
	margin-left: 15px;
}
.header a{
	font-size:14px;
	color: #17B16B;
}
.message{
	background-image: url("../images/b299dd1299bb345aa2fe1fcbf7d5867c.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.form-box {
	padding:40px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.form-bottom p { opacity: 0.8; color: #fff; }

.form-bottom .send{
	padding: 5px!important;
	margin: 0;
	font-size: 16px;
	color: #000000;
}
.my-message{
	background-color: #131126;
	padding-bottom: 30px;
}
.my-message h2{
	color: #ffffff;
	font-weight: 400;
	padding-top: 30px;
}
.message-content{
	border: 1px solid #666666;
	border-radius: 5px;
	padding: 15px;
	margin: 30px 0 0;
	background-color: #ffffff;
}
.message-content label{
	color: #1B1E21!important;
}
.message-content .message-title{
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}
.message-content .time{
	font-size: 14px;
}
.message-content .comment{
	font-size: 14px;
	margin: 15px 0;
}